/*
Project Name: Final Project
Author: Fernanda Shin
Developer @GA in LA
*/


/******************************************
/* SETUP
/*******************************************/
* {

  box-sizing: border-box; 
}
body{
	width: 100%;
	background-color: white;

}

#header_container {
	background-color:white;
	height: 100px;
	position: fixed;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0px;
	z-index: 1;


}

.hamburger {
  display: none;

}
.hamburger:hover {
	cursor: pointer;
}

#logo {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #4b4b4b;
	padding-left: 20px;
}
nav {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;

}
ul {
	display:flex;
	justify-content:space-around;
	width: 500px;
	list-style-type: none;

}
#paralaxbox1 {
	position: relative;
	width: 100%;
	overflow: scroll;
	height: 1200px;
}



#blockquote {
	height: 400px;
	margin-top: 100px;
	background-color: #e33185;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	position: absolute;
	width: 100%;


}
blockquote {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;

}

#aboutme {
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top:500px;
	height: 700px;
	position: relative;
	background: white;
	width: 100%;
}
#mydescription {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;

}
#myimage {
	margin-top: 80px;
	width: 25%;
}

#selected-work {
	height: 400px;
	background-color: #5bcfda;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	position: absolute;
	width: 100%;
	margin-top:-250px;



}
#mainsection_home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	background: white;
	width: 100%;
	margin-top: 400px;


}
.confetti_content {
	width: 800px;
	height: 500px;
	background-color: gray;
	margin-bottom: 50px
}


h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: black;
}
#selected-work-text {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: white;
	margin-top:50px;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: -50px;
	padding-top: 20px;
}
#work-content-here {
	margin-top: 60px;
}
h5 {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
p {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-left: 120px;
	padding-right: 120px;
	text-align: left;
	line-height: 2;
}


#homefooter {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px;
	background-color: white;


}

#contact {
	width: 200px;
  	padding-left:50px; 
  	padding-right: 50px;
  	padding-top: 20px;
  	padding-bottom: 20px;
    background:white; 
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    text-align: center;
   	color:black ;
    font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 30px;
	margin-top: 20px;
}


footer #top {
	border-color: gray;
    border-width: 1px;
    border-style: solid;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background-color: #f4f4f4;
	color: gray;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 12px;



}


a {
	color: grey;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
}
.fontAwesome{
    font-family: FontAwesome;
}


/*WORK PAGE CSS*/
section h4 {
	margin-top: 150px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: black;
	margin-top: 200px;
	margin-left: 60px;
}

.grid_container {
	display: grid;
  	grid-template-columns: 30% 30% 30%;
  	min-height: 10vh;
  	grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(75px, auto);
  	grid-template-areas:"a b c"
                       	"d e f"
                      	"g h i";

}

.squares {
	height: 200px;
	background-color: pink;
	margin-top:30px;
	margin-left: 60px;
	margin-bottom: 20px;

}
/*RESUME PAGE CSS*/

#resume-section-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}	
hr {
	border-color: #e8e8e8;
	border-width: 1px;
	width: 95%;
}
#resume-section-container h5 {
	text-align: center;

}
#resume-section-container a {
	color: #6598b8;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	margin-bottom: 60px;
}
#resumeimg {
	margin: auto;
	margin-bottom: 50px;
	margin-top: 30px;
	width: 80%;
}
#companiesimage {
	margin: auto;
	background-color: pink;
	margin-bottom: 50px;
	width: 60%;


}
#companies {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size:13px;
}
/*CONTACT PAGE CSS*/

#contact-container {
	margin-top: 200px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
form {
	display:flex;
	flex-direction: column;
}
.row {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-bottom: 30px;
}
label {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 12px;
}
#email, #emailmessage {
	width: 500px;
}
#emailmessage {
	height: 5em;
}

.radios {
	align-self: center;
}
#submit {
	align-self: center;
}

input[type=submit] {
    padding:15px 50px; 
    background:white; 
    border-color: gray;
    border-width: 2px;
    border-style: solid;
}

textarea, input[type=email] {
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding: 13px;
	width: auto;
}
textarea {
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding: 13px;
}
input[type="radio"]{
  margin: 0 3px 0 3px;
}

#radio-button-header {
	text-align: center;
}





@media screen and (max-width: 780px){

/* 

header has flex-direction column

div goes to display: flex;
remove fixed height from header
/*MOBILE VERSION*/

/*Home*/

.grid_container {
	display:flex;
	flex-direction: column;
	align-items: center;

}
#header_container {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	top: 0px;
	z-index: 1;
	height: unset;



}
header #mobile-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#paralaxbox, #homefooter{
	width: auto%;
}

.hamburger {
    display: block;
	color: #4b4b4b;
    font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-right: 20px;

  }


  nav {
    /*start with nav closed*/
    max-height: 0;
    /*ensures the menu is not visible from the start*/
    overflow: hidden;
    width: 100%;
    transition: 2s all;
    text-align: center;

  }

  nav.open{
  	max-height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 40px;

  }
   ul {
   	display: flex;
   	flex-direction: column;
   	font-size: 2em;
   	line-height: 1;
	height: 70px;  
   
  }


/*ul {
	display:flex;
	justify-content:space-around;
	width: 500px;
	list-style-type: none;

}*/
#confetti_content, #confetti_content2 {
	width: auto;
}

#myimage {
	width:40%;
}

/*Work Page*/


  section div input {
  	max-width: 300px;
  }
.grid_container {
	display: grid;
  	grid-template-columns: 50% 50%;
  	min-height: 10vh;
  	grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(75px, auto);
  	grid-template-areas:"a b" 
                       	"c d" 
                      	"e f"
                      	"g h"
                      	"i j"
                      	;

}







/*Resume Page*/

#resumeimg {
	margin: auto;
	margin-bottom: 50px;
	margin-top: 30px;
	width: 90%;
}
#companiesimage {
	margin: auto;
	background-color: pink;
	margin-bottom: 50px;
	width: 90%;
}
#companies {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size:1em;
}


