/*
Project Name: Final Project
Author: Fernanda Shin
Developer @GA in LA
*/


/******************************************
/* SETUP
/*******************************************/
* {

  box-sizing: border-box; 
}
body{
	width: 100%;

}

#header_container {
	background-color:white;
	height: 100px;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0px;
	
}

.hamburger {
  padding: 20px;
  display: none;
}

#logo {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-left: 20px;
}
nav {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;

}
ul {
	display:flex;
	justify-content:space-around;
	width: 500px;
	list-style-type: none;

}
#paralaxbox1 {
	overflow: scroll;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	position: relative;
	width: 100%;

}
#paralaxbox2 {
	overflow: scroll;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	position: relative;
	width: 100%;

}


#blockquote {
	height: 400px;
	margin-top: 100px;
	background-color: #e33185;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	position: absolute;
	width: 100%;


}
blockquote {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;

}

#aboutme {
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top:500px;
	height: 600px;
	position: relative;
	background: white;
	width: 100%;
}
#mydescription {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;

}
#myimage {
	margin-top: 80px;
	width: 25%;
}

#selected-work {
	height: 400px;
	background-color: #5bcfda;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	position: absolute;
	width: 100%;



}
#mainsection_home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	background: white;
	width: 100%;
	margin-top: 400px;


}
#confetti_content {
	width: 800px;
	height: 500px;
	background-color: gray;
	margin-bottom: 50px
}
#confetti_content2 {
	width: 800px;
	height: 500px;
	background-color: gray;
	margin-bottom: 50px
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: black;
}
#selected-work-text {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: white;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: -20px;
	padding-top: 20px;
}
#work-content-here {
	margin-top: 60px;
}
h5 {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 14px;
}


#homefooter {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200px;
	background-color: green;
}

#contact {
	width: 200px;
    border: none;
    background-color:pink;
    padding: 20px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-color: white;
}

#top {
	margin-top: 30px;
	border-radius: 100%;
	padding: 20px;
	border: none;
	background-color: purple;



}
a {
	color: grey;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
}


/*WORK PAGE CSS*/
section h4 {
	margin-top: 150px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: black;
	margin-top: 200px;
	margin-left: 60px;
}

.grid_container {
	display: grid;
  	grid-template-columns: 30% 30% 30%;
  	min-height: 10vh;
  	grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(75px, auto);
  	grid-template-areas:"a b c"
                       	"d e f"
                      	"g h i";

}

.squares {
	height: 200px;
	background-color: pink;
	margin-top:30px;
	margin-left: 60px;
	margin-bottom: 20px;

}
/*RESUME PAGE CSS*/

hr {
	border-color: gray;
	border-width: 1px;
	width: 90%;
}
section h5 {
	text-align: center;
}
section a {
	color: #6598b8;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	margin-bottom: 60px;
}
#resumeimg {
	width: 800px;
	height: 800px;
	background-color: pink;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 30px;
}
#companiesimage {
	margin: auto;
	width: 600px;
	height: 100px;
	background-color: pink;
	margin-bottom: 50px;

}
/*CONTACT PAGE CSS*/

#contact-container {
	margin-top: 200px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
form {
	display:flex;
	flex-direction: column;
}
.row {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-bottom: 30px;
}
label {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 12px;
}
#email, #emailmessage {
	width: 500px;
}
#emailmessage {
	height: 5em;
}

.radios {
	align-self: center;
}
#submit {
	align-self: center;
}

input[type=submit] {
    padding:15px 50px; 
    background:white; 
    border-color: gray;
    border-width: 2px;
    border-style: solid;
}

input[type=textarea], input[type=email] {
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding: 13px;
}
input[type="radio"]{
  margin: 0 3px 0 3px;
}





@media screen and (max-width: 780px){

/*MOBILE VERSION*/

.grid_container {
	display:flex;
	flex-direction: column;
}

header, ul, {
	flex-direction: column;
}

.hamburger {
    display: block;
    color: gray;
    font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
  }

  header ul li {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  nav {
    /*start with nav closed*/
    max-height: 0;
    /*ensures the menu is not visible from the start*/
    overflow: hidden;
  }
  nav.open{
    max-height: 200px;
  }
  section div input {
  	max-width: 300px;
  }
.grid_container {
	display: grid;
  	grid-template-columns: 50% 50%;
  	min-height: 10vh;
  	grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(75px, auto);
  	grid-template-areas:"a b" 
                       	"c d" 
                      	"e f"
                      	"g h"
                      	"i j"
                      	;

}

#myimage {
	width:40%;
}

